@import "variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%
  ;
}

.avatar-container {
  position: relative;
  display: flex;
  margin-top: 2rem;
}

.pencil {
  position: absolute;
  bottom: 10%;
  left: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: $grey-light;
  border-radius: 1.5rem;
  border: 4px solid $black;
}

.pencil:hover {
  cursor: pointer;
}

.tabs {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: -1.5rem;
  box-sizing: border-box;
  width: 100%;
}

.btnlink {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px $white;
  box-sizing: content-box;
}

.btnlink-name {
  text-decoration: none;
  color: inherit;
}

.input-container {
  position: relative;
  display: inline-block;
}

.close-icon {
  position: absolute;
  top: 64%;
  right: 2px;
  transform: translateY(-50%);
}

.close-icon:hover {
  cursor: pointer;
}

.password {
  align-self: flex-end;
}

.passwords-input {
  display: flex;
  flex-direction: column;
}

.btn-edit {
  background: none;
  border: none;
  font-size: 1.25rem;
  font-weight: 400;
  color: inherit;
}

.btn-edit:hover {
  cursor: pointer;
}

.input {
  background-color: $black;
  border: 0.2rem solid $grey-light;
  border-radius: 0.3rem;
  color: inherit;
  font-size: 0.9rem;
  padding: 0.2rem;
  padding-left: 0.4rem;
}

.passwords-input {
  gap: 1rem;
}

.btn-apply {
  margin-top: 1rem;
  padding: 0.5rem;
  background: none;
  border-radius: 0.7rem;
  border: solid 1px #ff7402;
  color: #ff7402;
  font-family: $text-font;
  align-self: flex-end;
}

.applied {
  margin-top: 3rem;
  text-align: center;
}

@media screen and (min-width: 993px) {
  .tabs {
    margin-top: 3rem;
    padding-inline: 10rem;
  }
}

@media screen and (min-width: 1200px) {
  .tabs {
    margin-top: 3rem;
    padding-inline: 20rem;
  }
}

@media screen and (min-width: 1500px) {
  .tabs {
    margin-top: 3rem;
    padding-inline: 35rem;
  }

  .input {
    padding: 0.5rem;
    width: 15rem;
  }
}