@import "variables";

.admin-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: 2rem;
    margin-top: 7rem;
    align-content: center;
    min-height: 60%;
    width: 80%;
    background-color: $grey;
    border-radius: 2rem;
    border: solid 1px $orange-light;
}

.tabs {
    align-self: center;
    margin-bottom: 10%;
    padding: 1.5rem;
    box-sizing: border-box;
    width: 100%;
}

.btn-admin{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    border-bottom: solid 1px $white;
    box-sizing: content-box;
    width: 100%;
    text-align: center;
}

.btn-admin {
    text-decoration: none;
    color: inherit;


}

.btnlink:hover,
.btn-admin:hover {
    color: $orange-extra-light;
    cursor: pointer;
}

@media screen and (min-width: 993px) {

.admin-profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        margin: 2rem;
        margin-top: 10rem;
        align-content: center;
        min-height: 70%;
        width: 50%;
        background-color: $grey;
        border-radius: 2rem;
        border: solid 1px $orange-light;
        padding-bottom: 2rem;
    }

        .tabs {
            align-self: center;
            margin-top: 7rem;
            margin-bottom: 10%;
            padding: 7rem;
            box-sizing: border-box;
            width: 100%;
        }

        .btn-admin {
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            border-bottom: solid 1px $white;
            box-sizing: content-box;
            width: 100%;
            text-align: center;
        }

}