@import "variables";

.coming-soon-pages{
    height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        justify-content: space-evenly;
}

.coming-soon-title{
    align-self: center;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 2rem;
        color: #ffffff;
        text-shadow: 2px 2px 2px #632d00;
}