@import "variables";

.contnav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    background-color: transparent;
    will-change: box-shadow;
    z-index: 10;
    margin-bottom: 5rem;
}

.contnav.shadow {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
    background-color: rgba(22, 24, 25, 1);
}

.small-avatar {
    height: 70px;
    margin: 1rem 0.75rem 0.75rem 0.5rem;
}

@media screen and (max-width: 992px) {
    .contnav {
        display: none;
    }
}

@media screen and (min-width: 993px) {
    .contnav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .logonav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .logohead {
        height: 4.5rem;
        width: 4.5rem;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    }
    
    .navlink {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    
    .navlink ul {
        display: flex;
        flex-direction: row;
        align-self: center;
        color: white;
    }
    
    .navlink li a {
        text-decoration: none;
        color: white;
        cursor: pointer;
        &:hover {
            color: $orange-light;
        }
    }
    
    .link {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: auto 1.5rem auto 1.5rem;
        text-decoration: none;
        list-style-type: none;
    }
    
    .btnhead {
        margin: auto 1rem auto 1rem;
        background-color: transparent;
        padding-top: 0.3rem;
        padding-right: 0.5rem;
        padding-bottom: 0.2rem;
        padding-left: 0.5rem;
        border: 2px solid #FF7402;
        border-radius: 1rem;
        font-size: 1rem;
        cursor: pointer;
        color: #FF7402;
        &:hover {
            opacity: 0.8;
        }
    }
}
