@import "variables";

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 5rem;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: 1.5rem;
    margin-top: 2.5rem
}

.favorites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.favorites {
    img {
        height: auto;
        width: 20rem;
        border-radius: 0.4rem;
    }
}

.title-container {
  width: 320px;
  flex-direction: row;
  margin-top: 0.75rem;
}

.video-title {
  width: 80%;
}

.trashbin {
  display: flex;
  margin-top: -1rem;
  margin-bottom: 4rem;
  justify-content: flex-end;
}
