@import 'variables';

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.favorites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // flex-wrap: wrap;
    margin-top: 2rem;
}

.favorites {
    img {
        margin: 1rem; 
        height: auto;
        width: 20rem;
        border-radius: 0.4rem;
    }
}

.title-container {
  width: 80%;
  flex-direction: row;
}

.trashbin {
  display: flex;
  // margin-top: 0.5rem;
  justify-content: flex-end;
}