@import "variables";

@media screen and (max-width: 992px) {
  .container{
    display: none;
  }
}

@media screen and (min-width: 993px) {
  .container {
    display: flex;
    flex-direction: row;
}

  .origins {
    height: 5rem;
    width: 100%;
    background-color: $grey;
  }

  .origins-title {
    margin-top: 1rem;
    margin-left: 1rem;
  }
}

