@import 'variables';

.contheader {
    display: flex;
    align-items: flex-start;
}
.boxheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
}
.logohead {
    height: 50px;
    width: 50px;
    padding-top: 0.4rem;
    margin-left: 1rem;
}
.btnhead {
    margin-right: 1rem;
    background-color: transparent;
    padding-top: 0.3rem;
    padding-right: 0.5rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    border: 2px solid #FF7402;
    border-radius: 1rem;
    font-size: 1rem;
    cursor: pointer;
    color: #FF7402;
    &:hover {
        opacity: 0.8;
    }
}