@import "variables";

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.carousel-container {
  margin: 2rem;
}

.main-carousel {
  width: 100%;
  height: 100%;
}

.categories,
.category-name {
  margin-right: 1.5rem;
  text-decoration: none;
  color: inherit;
}

.category {
  margin-bottom: 2rem;
}

.category-name {
  font-weight: 400;
  margin: 1.5rem;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  font-size: 1.4rem;
}

.category-name:hover,
.categories:hover {
  color: $orange-light;
  cursor: pointer;
}

.category {
  .thumbnails {
    display: flex;
    flex-direction: row;
    width: 90%;
    overflow-x: scroll;
    margin-left: 1.5rem;
  }
}

.thumbnails {
  img {
    margin-right: 2rem;
    height: 9rem;
    width: auto;
    border-radius: 0.4rem;
  }
}

.thumbnails {
  a:last-child {
    img {
      margin-right: 0rem;
    }
  }
}

.category {
  .thumbnails {
    .title {
      display: flex;
      font-size: 1rem;
      width: 18rem;
      margin-top: 1rem;
    }
  }
}

.category {
  .thumbnails {
    .imgContainer {
      display: flex;
      flex-direction: column;
      width: 18rem;
    }
  }
} 