@import 'variables';

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.carousel-container {
  margin: 2rem;
}

.main-carousel {
  width: 100%;
}

.categories, .category-name {
  margin-right: 1.5rem;
  text-decoration: none;
  color: inherit;
}

.category {
  margin-bottom: 2rem;
}

.category-name {
  font-weight: 300;
  margin: 1.5rem;
}

.category-name:hover,
.categories:hover {
  color: $orange-light;
  cursor: pointer;
}

.category {
  .thumbnails {
    flex-direction: row;
    white-space: nowrap;
    width: 90%;
    overflow-x: scroll;
    margin-left: 1.5rem;
  }
}

.thumbnails {
  img {
      margin-right: 2rem;
      height: 9rem;
      width: auto;
      border-radius: 0.4rem;
  }
}

.thumbnails {
  a:last-child {
    img {
      margin-right: 0rem;
    }
  }
}
