@import "variables";

body {
  background-image: url("../assets/Frame\ 1.png");
  background-size: cover;
  background-repeat: round;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 5rem;
}

.carousel-container {
  margin: 2rem;
}

.main-carousel {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.main-carousel {
  img {
      border: solid 1px $orange-light;
        box-shadow: rgba(255, 116, 2, 0.15) 0px 25px 25px,
          rgba(255, 116, 2, 0.1) 0px -5px 12.5px,
          rgba(255, 116, 2, 0.1) 0px 2.5px 3.75px,
          rgba(255, 116, 2, 0.15) 0px 5px 5px,
          rgba(255, 116, 2, 0.08) 0px -1.25px 2.5px;
  }
}

.categories,
.category-name {
  margin-right: 1.5rem;
  text-decoration: none;
  color: inherit;
}

.category {
  margin-bottom: 2rem;
}

.category-name {
  font-weight: 400;
  margin: 1.5rem;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  font-size: 1.4rem;
}

.category-name:hover,
.categories:hover {
  color: $orange-light;
  cursor: pointer;
}

.category {
  .thumbnails {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin-left: 1.5rem;
  }
}

.thumbnails:last-child() {
    margin-bottom: 2.25rem;
  }


.thumbnails {
  img {
    margin-right: 2rem;
    height: 9rem;
    border-radius: 0.4rem;
    box-sizing: content-box;
    box-shadow: rgba(255, 116, 2, 0.1) 0px 10px 10px,
        rgba(255, 116, 2, 0.05) 0px -3px 7px,
        rgba(255, 116, 2, 0.05) 0px 1px 2px,
        rgba(255, 116, 2, 0.08) 0px 3px 3.5px,
        rgba(255, 116, 2, 0.04) 0px -0.75px 1.25px;
  }
}

.thumbnails {
  a:last-child {
    img {
      margin-right: 0rem;
    }
  }
}

.category {
  .thumbnails {
    .title {
      display: flex;
      font-size: 1rem;
      width: 18rem;
      margin-top: 1rem;
    }
  }
}

.category {
  .thumbnails {
    .imgContainer {
      display: flex;
      flex-direction: column;
      width: 18rem;
    }
  }
} 

@media screen and (min-width: 993px) {
  .container {
    margin: 5rem;
    margin-top: 3rem;
  }
  .carousel-container {
    margin-bottom: 4rem;
  }

  .main-carousel {
      height: 25rem;
      width: 40rem;
      border: solid 1px #ff7402;
      box-shadow: rgb(255, 116, 2, 0.1875) 0px 25px 25px,
          rgb(255, 116, 2, 0.125) 0px -3.125px 7.8125px,
          rgb(255, 116, 2, 0.125) 0px 1.5625px 2.34375px,
          rgb(255, 116, 2, 0.1875) 0px 2.5px 2.5px,
          rgb(255, 116, 2, 0.1) 0px -0.625px 1.5625px;
    }

  .category {
    .thumbnails {
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
    }
  }

.thumbnails {
  img {
    box-sizing: content-box;
    box-shadow: rgba(255, 116, 2, 0.1) 0px 10px 10px,
        rgba(255, 116, 2, 0.05) 0px -3px 7px,
        rgba(255, 116, 2, 0.05) 0px 1px 2px,
        rgba(255, 116, 2, 0.08) 0px 3px 3.5px,
        rgba(255, 116, 2, 0.04) 0px -0.75px 1.25px;
  }
}

  .category-name {
    font-size: 2rem;
  }

  .imgContainer {
    padding-bottom: 0.5rem;
  }
    .imgContainer:hover {
      text-decoration: underline;
      text-underline-offset: 0.5rem;
      img{
        box-shadow: rgb(255, 116, 2, 0.25) 0px 10px 10.25px,
            rgb(255, 116, 2, 0.12) 0px -3px 7.5px,
            rgb(255, 116, 2, 0.12) 0px 1px 1.5px,
            rgb(255, 116, 2, 0.17) 0px 2px 2.25px,
            rgb(255, 116, 2, 0.09) 0px -0.75px 1.25px;
        }
      
    }

    ::-webkit-scrollbar {
      width: 0px;
      height: 5px;
    }  

    ::-webkit-scrollbar-thumb {
        background-color: $orange-light;
        border-radius: 2rem;
      }

}