@import 'variables';

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.carousel-container {
  margin: 2rem;
}

.main-carousel {
  width: 100%;
}

.swiper-pagination-bullet-active {
  background-color: $orange-light;
}

.dropdown-menu {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  flex-direction: row;
}

.categories {
  margin-right: 1.5rem;
  text-decoration: none;
  color: inherit;
}

.category {
  margin-bottom: 2rem;
}

.category {
  .thumbnails {
    flex-direction: row;
    white-space: nowrap;
    width: 90%;
    overflow-x: scroll;
    margin-left: 1.5rem;
  }
}

.category-name {
  margin: 1.5rem;
  font-size: 1.5rem;
  font-weight: 300;
}

.category-name:hover,
.categories:hover {
    color: $orange-light;
    cursor: pointer;
}

.thumbnails {
  img {
      margin-right: 2rem;
      height: 9rem;
      width: auto;
      border-radius: 0.4rem;
  }
}

.thumbnails {
  img:last-child {
    margin-right: 0rem;
  }
}
