@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Noto+Sans:wght@300;400;500;600&display=swap");

@import "variables";

:root {
  --swiper-theme-color: #ff9842;
  --toastify-color-success: #fc4f0c;
  --toastify-color-warning: #fc4f0c;
  --toastify-color-error: #fc4f0c;
  --toastify-color-info: #fc4f0c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  font-family: $text-font, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  font-size: 1.25rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: $black;
}

a {
  display: inline-block;
}

.no-scroll {
  overflow: hidden;
}


::selection {
  background: $orange-light;
}
