.avatar {
  align-self: center;
}

.avatar-image {
  border-radius: 7rem;
  height: auto;
  width: 9rem;
}
.avatar-profile-image {
  border-radius: 5rem;
  height: 80px;
  width: auto;
  margin-top: 1.5rem;
  margin-right: 1rem;
}
