@import 'variables';

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-bar, .select {
  background-color: $black;
  border: 0.2rem solid $grey-light;
  border-radius: 0.3rem;
  color: inherit;
  font-size: 0.9rem;
}

.search-bar {
  padding: 0.4rem;
  padding-left: 0.4rem;
  width: 15.5rem;
  margin-top: 5rem;
}

.select {
  padding: 0.33rem;
  width: 11rem;
  margin-top: 2.5rem;
}

.select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.search-bar::placeholder, .select {
  color: rgba(255, 255, 255, 0.6)
}

.browse {
  font-weight: 300;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  align-self: flex-start;
}

.videos-container {
  display: flex;
  flex-direction: column;
}

.thumbnails {
  margin-top: 1rem;
}

.thumbnails {
  a {
    img {
      margin-bottom: 2rem;
      height: 10.5rem;
      width: auto;
      border-radius: 0.4rem;
    }
  }
}