@import "variables";

.sign-in-page-logo {
  margin: 0.75rem;
  width: 170px;
  align-self: center;
}

.sign-in-page-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: space-evenly;
}

.sign-up-input {
  display: flex;
  justify-self: center;
  align-items: center;
  text-align: center;
}

.password-container {
    display: flex;
    margin-left: 1.5rem;
}

.sign-in-page {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  min-height: 70%;
  width: 75%;
  max-width: 25rem;
  background: linear-gradient(to top, #161718, #414345);
  border-radius: 2rem;
  border: solid 3px #ff7402;
  box-shadow: rgb(255, 116, 2, 0.25) 0px 54px 55px,
          rgb(255, 116, 2, 0.12) 0px -12px 30px,
          rgb(255, 116, 2, 0.12) 0px 4px 6px,
          rgb(255, 116, 2, 0.17) 0px 12px 13px,
          rgb(255, 116, 2, 0.09) 0px -3px 5px;

  .sign-in-title {
    align-self: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #ffffff;
  }

  .sign-in-forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  
  .sign-in-input {
    display: flex;
    justify-items: center;
    text-align: center;
    background-color: #484a4b;
    height: 3rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    width: 12.5rem;
  }

  #email {
    width: 12.5rem;
  }

  #password {
    width: 12.5rem;
  }

  .button-sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    

    .sign-in-btn1 {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 1rem;
      height: 2.25rem;
      margin-bottom: 1rem;
      font-size: 1rem;
      background-color: $orange-light;
      color: #fff;
      width: 12.5rem;
      box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      cursor: pointer;
      &:hover {
          opacity: 0.8;
        }
    }

    .sign-in-btn2 {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 1rem;
        height: 2.25rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        background: none;
        border: solid 1px $orange-light;
        color: #fff;
        width: 12.5rem;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .sign-in-p {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    color: #ff7402;
    cursor: pointer;
  } 
}

@media screen and (min-width: 993px) { 

  .sign-in-page-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;   
    justify-content: space-evenly;
    background-image: url("../assets/Background_2.png");
}

.sign-in-page-logo{
  display: flex;
  align-self: center;
  width: 50%;
}

  .sign-in-page {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height: 50%;
    margin: 0px;
    box-shadow: rgb(255, 116, 2, 0.25) 0px 100px 100px, rgb(255, 116, 2, 0.18) 0px -20px 50px, rgb(255, 116, 2, 0.18) 0px 10px 15px, rgb(255, 116, 2, 0.25) 0px 20px 20px, rgb(255, 116, 2, 0.15) 0px -5px 10px;
  }

  .sign-in-title{
    margin: 0
    ;
  }

  .sign-in-btn1 {
    height: 3rem;
    font-weight: 600;
    border-radius: 2rem;
  }
  .sign-in-btn2 {
    height: 3rem;
    font-weight: 600;
    border-radius: 2rem;
  }

}