@import "variables";

.sign-in-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  align-content: center;
  min-height: 70%;
  width: 80%;
  background-color: #232526;
  border-radius: 2rem;
  border: solid 1px #ff7402;

  .sign-in-title {
    align-self: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #ffffff;
  }

  .sign-in-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  .sign-in-input {
    justify-items: center;
    text-align: center;
    background-color: #484a4b;
    height: 3rem;
    width: 85%;
    margin-bottom: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
  }
  .button-sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;

    .sign-in-btn1 {
      padding: 0.75 0.75 0.75 0.75rem;
      border: none;
      border-radius: 1rem;
      height: 2.25rem;
      margin-bottom: 1rem;
      font-size: 1rem;
      cursor: pointer;
      background-color: #ff7402;
      color: #fff;
      min-width: 80%;
    }

    .sign-in-btn2 {
      padding: 0.5rem;
      background-color: transparent;
      border: 1px solid #ff7402;
      border-radius: 1rem;
      margin-bottom: 1rem;
      min-width: 80%;
      font-size: 1rem;
      cursor: pointer;
      color: #ff7402;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .sign-in-p {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    color: #ff7402;
    cursor: pointer;
  }
}
