@import "variables";

.footercontain {
  display: none;
}

.btn-logo {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-self: center;
}

.sign-in-page-logo{
  margin: 0.75rem;
  width: 170px;
  align-self: center;
}

.sign-up-page-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 5rem;
  }

.sign-up-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  margin: 2rem;
  width: 85%;
  background: linear-gradient(to top, #161718, #414345);
  border-radius: 2rem;
  border: solid 3px #ff7402;
  box-shadow: 0px 0px 50px rgba(255, 116, 2, 0.2),
      0px 0px 20px rgba(255, 116, 2, 0.1),
      0px 0px 10px rgba(255, 116, 2, 0.05);
}

.sign-up-title {
  align-self: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #ffffff;
  text-shadow: 2px 2px 2px #632d00;
}

.sign-up-forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.password-container {
  display: flex;
  align-content: center;
  justify-self: center;
  margin-left: 1.5rem;
  padding-right: 1.5rem;
}
.sign-up-input {
  display: flex;
  background-color: #484a4b;
  height: 2.5rem;
  border: none;
  width: 12.5rem;
  font-size: 1rem;
  border-radius: 1rem;
  padding-left: 1rem;
  margin-top: 1rem;

  &:hover {
      opacity: 0.8;
    }
}
.password-button {
  display: flex;
  align-self: center;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  margin: 0;
  cursor: pointer;
}

.visibility-container {
  position: relative;
}

.visibility-icon {
  position: absolute;
  top: 10px;
  right:13px;
  transform: translateY(-50%);
}

.sign-span {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: auto;
  color: red;
  font-size: small;
}

.check-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  

  .sign-up-p {
    display: inline-block;
    vertical-align: top;
    font-size: 0.75rem;
    max-width: 60%;
    margin-left: 1rem;

    input {
      width: 2rem;
      height: 2rem;
    }
  }

}
  .sign-up-checkbox-label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    margin-left: 1rem;
    margin: 0.75rem;
  }

.sign-up-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  border: none;
  border-radius: 1rem;
  min-height: 2.25rem;
  margin: 1.5rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
  background-color: rgb(255, 116, 2);
  color: #fff;
  width: 12.5rem;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.firstName{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 993px) {
  .sign-up-page-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("../assets/Background_2.png");
  }

  .sign-up-page-logo {
    display: flex;
    align-self: center;
    width: 50%;
  }

  .sign-up-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    max-width: 25rem;
    margin: 0px;
    box-shadow: rgb(255, 116, 2, 0.25) 0px 100px 100px, rgb(255, 116, 2, 0.18) 0px -20px 50px, rgb(255, 116, 2, 0.18) 0px 10px 15px, rgb(255, 116, 2, 0.25) 0px 20px 20px, rgb(255, 116, 2, 0.15) 0px -5px 10px;
  }

  .sign-up-title {
    margin: 0.75rem;
  }

  .visibility-icon {
    top: 1px;
    right: 22px;
  }

  .sign-in-page-logo {
      display: flex;
      align-self: center;
      width: 60%;
    }

    .check-btn {
      display: flex;
      align-self: center;
      justify-self: center;
        
        .sign-up-p {
            margin-bottom: 0px;
            font-size: 0.75rem;
          }

        input {
          height: 1.25rem;
          width: 1.25rem;
        }
    }
  

    .sign-up-input {
      margin: 0.75rem;
    }
    
    .sign-up-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            border-radius: 2rem;
            height: 3rem;
            margin-bottom: 3rem;
            font-size: 1rem;
            background-color: #ff7402;
            color: #fff;
            width: 12.5rem;
            font-weight: 600;
            &:hover {
                opacity: 0.8;
              }
    }
}