@import "variables";

.sign-up-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  align-content: center;
  max-height: 90%;
  width: 85%;
  background-color: #232526;
  border-radius: 2rem;
  border: solid 1px #ff7402;
}
.sign-up-title {
  align-self: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  color: #ffffff;
}
.sign-up-forms {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-group {
  display: flew;
  align-items: center;
  justify-content: center;
}
.password-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  margin-left:2rem;
}
.sign-up-input {
  display: block;
  justify-items: center;
  text-align: center;
  background-color: #484a4b;
  height: 2.5rem;
  width: 65%;
  margin:auto;
  margin-bottom: 1rem;
  font-size: 1rem;
  border-radius: 1rem;
}
.password-button{
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  margin:0;
  cursor: pointer;
  margin-bottom: 0.75rem;
}
.sign-span{
  display:flex;
  justify-content: center;
  margin-top:0;
  margin-bottom: auto;
  color:red;
  font-size: small;
}
.check-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  .sign-up-checkbox {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3rem;
  }

  .sign-up-p {
    display: inline-block;
    vertical-align: top;
    font-size: 0.5rem;
    max-width: 60%;
    margin-left: 1.5rem;
    margin-bottom: 0.75rem;
  }
}

.sign-up-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 30%;
  margin: auto;
  padding: 0.75rem;
  border: none;
  border-radius: 1rem;
  padding-top: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
  background-color: #ff7402;
  color: #fff;
}
