@import "variables";

.sign-up-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  align-content: center;
  height: 85%;
  width: 85%;
  background-color: #232526;
  border-radius: 2rem;
  border: solid 1px #ff7402;
}
.sign-up-title {
  align-self: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #ffffff;
}

.sign-up-forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.sign-up-input {
  justify-items: center;
  text-align: center;
  background-color: #484a4b;
  height: 3rem;
  width: 60%;
  margin-bottom: 1rem;
  font-size: 1rem;
  border-radius: 1rem;
}
.check-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  .sign-up-checkbox {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3rem;
  }

  .sign-up-p {
    display: inline-block;
    vertical-align: top;
    font-size: 0.8rem;
    max-width: 60%;

    margin-left: 1.5rem;
  }
}

.sign-up-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  margin: auto;
  padding: 0.75rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
  background-color: #ff7402;
  color: #fff;
}
