@import "variables";

.contSub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 2rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
}
.secondTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}
.subCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.standCard, .standCardSub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 50%;
    width: 100%;
    background-color: $grey-light;
    border-radius: 2.5rem;
}
.standCardSub {
    border: 2px solid;
}
.textp {
    text-align: center;
}
.proCard, .proCardSub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    height: 200px;
    width: 100%;
    background-color: $grey-light;
    border-radius: 2.5rem;
}
.proCardSub {
    border: 2px solid;
}
.textPro {
    margin-top: 1rem;
    text-align: center;
}
.textPop {
    color: $green;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}
.btnSub {
    border-radius: 1rem;
    width: 100%;
    height: 4rem;
    background-color: $orange;
    color: white;
    font-size: 1rem;
}