@import "variables";

.contTerms {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 6rem;
    overflow: scroll;
}
.titleTerms {
    margin-bottom: 2rem;
}
.textTerms {
    margin-bottom: 2rem;
}
.checkbox {
    background-color: $grey-light;
    width: 100%;
    height: 4rem;
    position: absolute;
    bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.checkAgree {
    color: black;
}
.divBoxBtn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnSubTerms {
    height: 1.5rem;
    border-radius: 1rem;
    margin-right: 1rem;
    padding-top: 0.1rem;
    padding-right: 0.5rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    cursor: pointer;
    background-color: #ff7402;
    color: #fff;
    font-size: 1rem;
}
.divCheck {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.checkAgree {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    appearance: none;
    background-color: #bbb;
    transition: all .3s;
   }
   
   .checkAgree::before {
    content: '';
    position: absolute;
    border: solid #fff;
    display: block;
    width: .3em;
    height: .6em;
    border-width: 0 .2em .2em 0;
    z-index: 1;
    opacity: 0;
    right: calc(50% - .3em);
    top: calc(50% - .6em);
    transform: rotate(0deg);
    transition: all .3s;
    transform-origin: center center;
   }
   
   .checkAgree:checked {
    animation: a .3s ease-in forwards;
    background-color: rgb(120, 190, 120);
   }
   
   .checkAgree:checked::before {
    opacity: 1;
    transform: rotate(405deg);
   }
   
   @keyframes a {
    0% {
     opacity: 1;
     transform: scale(1) rotateY(0deg);
    }
   
    50% {
     opacity: 0;
     transform: scale(.8) rotateY(180deg);
    }
   
    100% {
     opacity: 1;
     transform: scale(1) rotateY(360deg);
    }
   }