@import "variables";

.contSub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 2rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    padding-top: 5rem;
}
.secondTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
}
.subCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-inline: 25rem;
    padding-top: 2rem;
}

.standCard, .proCard {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.standCard, .standCardSub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 50%;
    width: 100%;
    background-color: $grey-light;
    border-radius: 2.5rem;
}
.standCardSub {
    border: 2px solid;
    cursor: pointer;
}
.textp {
    text-align: center;
}
.proCard, .proCardSub {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    height: 200px;
    width: 100%;
    background-color: $grey-light;
    border-radius: 2.5rem;
    cursor: pointer;
}
.proCardSub {
    border: 2px solid;
}
.textPro {
    margin-top: 1rem;
    text-align: center;
}
.textPop {
    color: $blue;
    font-size: 1.15rem;
    margin-bottom: 1rem;
}
.btnSub {
    border-radius: 1rem;
    width: 100%;
    height: 4rem;
    background-color: $orange;
    background: none;
    border: solid 2px $orange;
    color: white;
    font-size: 1.25rem;
    padding: 2rem;
    cursor: pointer;
}
.btnSub:hover {
    background: $orange;
}