$black: #161819;
$grey: #232526;
$grey-light: #484A4B;
$red: #E90E26;
$orange: #FC4F0C;
$orange-light: #FF7402;
$orange-extra-light: #FF9842;
$blue: #0066CD;
$blue-sky: #0092E7;
$blue-light: #00B7D9;
$turquoise: #00CBD3;
$green: #00ff00;

$text-font: 'Noto Sans',
  sans-serif;
$title-font: 'Merriweather',
  sans-serif;

$spacing: 0.5rem; // 8px
$spacing-lg: $spacing * 2;
$spacing-xl: $spacing * 4;
