$black: #161819;
$grey: #232526;
$grey-light: #484a4b;
$red: #e90e26;
$orange: #fc4f0c;
$orange-light: #ff7402;
$orange-extra-light: #ff9842;
$blue: #0066cd;
$blue-sky: #0092e7;
$blue-light: #00b7d9;
$turquoise: #00cbd3;
$green: #00ff00;
$white: #ffffff;

$text-font: "Noto Sans", sans-serif;
$title-font: "Merriweather", sans-serif;

$spacing: 0.5rem; // 8px
$spacing-lg: $spacing * 2;
$spacing-xl: $spacing * 4;
